@charset "UTF-8";

$nr: no-repeat;
$rb: right bottom;
$rt: right top;
$rc: right center;
$cc: center center;
$lc: left center;
$lb: left bottom;
$bc: bottom center;
$i: !important;
$tr: transparent;
$bord: 1px solid #EAEAEA;
$black: #000;
$bcol: #f3ebdc;
$ff2: 'Open Sans', sans-serif;


@import "_reset.scss";
@import "_media.scss";



a {
  text-decoration: none;
  color: #3043B8;  
  @media (any-hover: hover) {
    &:hover {
      color: #3043B8;
      text-decoration: underline;
    }
  }
}

p {
  margin-bottom: 0;
  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

button {
  border: none;
  outline: none;
}

textarea {  
  &:hover, &:active, &:focus {    
    outline: none;    
  }
}

body {  
  font-family: 'Nunito Sans', sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #121212;
  position: relative;
  min-height: 100vh;
  line-height: 1;
  &.ohi {
    overflow: hidden;
  }
}



.wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;  
  overflow: hidden;
  display: flex;    
  flex-direction: column;    
  min-height: 100vh;
}

.main {  
  flex-grow: 1;
}

/*modal*/

p {
  line-height: 1.5;
}

.modal-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  z-index: 5;  
  display: none;
  background: rgba(45, 40, 40, 0.5);
}

.modal-form__layout {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 2;
}

.modal-form__block {
  position: absolute;
  top: 5%;
  margin-bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 6;   
  width: 555px; 
  background-color: #FFF;
  min-height: 100px;
}

.modal-form__inner {
  position: relative;  
}

.modal-close {
  cursor: pointer;
  display: block;
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 7;
  width: 24px;
  height: 24px;
  background: url("../img/close-w.svg") no-repeat 0 0;
}

/*end modal*/


h1, .h1 {
  color: rgb(18, 18, 18);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
}

h2, .h2 {
  color: rgb(18, 18, 18);
  font-size: 28px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 28px;
}

h3, .h3 {
  color: rgb(18, 18, 18);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
}

h4, .h4 {
  color: rgb(18, 18, 18);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 15px;
}



.btn,
.btn-o,
*[class$="__btn"] {  
  transition: 0.5s;
  &:hover {
    text-decoration: none;     
  }
}



.header {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 16px 0px;
  padding-top: 24px;
  padding-bottom: 24px;
  ul {
    margin: auto;
    display: flex;
    li {
      + li {
        margin-left: 34px;
      }
      a {
        color: rgb(18, 18, 18);
        font-size: 16px;
        line-height: 1.5;        
        transition: 0.5s;
        &:hover {
          text-decoration: none;
        }
        @media (any-hover: hover) {
          &:hover {
            color: #777;
          }
        }
      }
    }
  }
  form {
    width: 277px;    
    background: #F7F7F7;
    border-radius: 8px;    
    display: flex;
    align-items: center;    
    flex: none;
    height: 50px;
    button {
      background: none;
      border: none;
      background: url("../img/search.svg") center no-repeat;
      height: 100%;
      width: 58px;
      flex: none;
      padding-right: 18px;

    }

    input[type="text"] {
      background: none;     
      flex-grow: 1;
      border: none;
      height: 50px;
      padding: 0 18px;
      width: 100%;
    }
  }

}//header


.header__row {
  display: flex;
  align-items: center;
}

.logo {
  width: 168px;
  flex: 0 0 auto;
  display: inline-flex;
}


.main {
  padding-bottom: 100px;
  padding-top: 36px;
}

.special {
  border-radius: 10px;
  background: rgb(48, 67, 184);
  padding: 58px 48px 37px 48px;
  p {
    color: rgb(255, 255, 255);
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 19px;
    max-width: 440px;
  }
}

.special__title {
  color: rgb(255, 255, 255);
  font-size: 52px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 6px;
}


.special__items {
  display: flex;
}

.special__item {
  display: block;  
  + .special__item {
    margin-left: 92px;
  }
  div {
    color: rgb(255, 255, 255);
    font-size: 60px;
    font-weight: 700;
    line-height: 1.5;
    background-image: url("../img/figure.svg");
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 96px;    
  }
  p {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 1.2;
  }
}

.map {
  border-radius: 10px;
  height: 540px;
  margin-top: 32px;
  overflow: hidden;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}


.news {
  padding-top: 64px;
}

.h2 {
}

.news__row {
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  flex-wrap: wrap;  
  margin-bottom: 25px;  
}

a {
  &:hover {

  }
}

.news__col {
  padding-left: 15px;
  padding-right: 15px;
  width: 33.3333%;
  margin-bottom: 46px;
  &:nth-last-child(1),
  &:nth-last-child(2),
  &:nth-last-child(3) {
    margin-bottom: 0;
  }  
}

.news__it {
  a {
    &:hover {
      text-decoration: none;
      color: inherit;
    }
  }
  p {
    color: rgb(119, 119, 119);
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 0;
  }
  
}

.news__img-w {
  display: block;
  border-radius: 10px;
  height: 192px;
  overflow: hidden;  
  width: 100%;
  margin-bottom: 16px;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}


.news__cat {  
  margin-bottom: 6px;
  display: block;
  color: rgb(48, 67, 184);
  font-size: 18px;
  line-height: 1.5;
}

.news__title {
  margin-bottom: 12px;
  display: block;
  color: rgb(18, 18, 18);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
}



.btn {
  padding-left: 30px;
  padding-right: 30px;
  height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background: rgb(48, 67, 184);
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;  
  transition: background 0.5s;  
  @media (any-hover: hover) {
    &:hover {
      text-decoration: none;
      background: #384ED8;
    }
  }
}

.footer {
  background: rgb(247, 247, 247);
  padding-top: 34px;
  padding-bottom: 36px;
  ul {
    display: flex;
    align-items: center;    
    li {      
      line-height: 1.5;
      + li {
        margin-left: 30px;
      }
      a {
        color: rgb(18, 18, 18);
        font-size: 16px;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 26px;
}

.footer__logo {
  width: 168px;
  flex: 0 0 auto;
  display: inline-flex;
}




.footer__copy {
  color: rgb(18, 18, 18);
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 6px;
}

.footer__polyt {
  color: rgb(18, 18, 18);
  font-size: 16px;
  line-height: 1.5;
  a {
    color: rgb(18, 18, 18);
    text-decoration-line: underline;  
  }
}



.banner__row {
  display: flex;  
  margin-bottom: 28px;
  ul {
    li {
      color: rgb(255, 255, 255);
      font-size: 24px;
      font-weight: 700;
      line-height: 1;      
      position: relative;
      padding-left: 28px;
      &:not(:last-child) {
        margin-bottom: 13px;
      }
      &:before {
        position: absolute;
        left: 0;
        top: 12px;
        content: "";  
        width: 20px;
        height: 2px;
        background: rgb(255, 255, 255);
        flex: 0 0 auto;
        display: block;
      }
    }
  }
}

.banner__l {
  width: 495px;
  flex: 0 0 auto;
  background: rgb(236, 240, 255);
  padding: 34px 24px;
  display: flex;  
  justify-content: center;
  flex-direction: column;  
  align-items: flex-start;
  &:hover {
    text-decoration: none;
  }
}

.banner__logo {
  margin-bottom: 8px;
}

.banner__title {
  color: rgb(46, 96, 255);
  font-size: 32px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 0;
}

.banner__r {
  background: url("../img/banner-bg.svg") left center no-repeat rgb(46, 96, 255);
  padding: 40px 40px 39px 140px;
  flex: 1 1 auto;
  display: flex;  
  justify-content: center;
  flex-direction: column;
}





.bread {
  display: flex;
  margin-bottom: 28px;
  li {
    color: rgb(119, 119, 119);
    font-size: 16px;
    line-height: 1.5;
    + li {
      margin-left: 5px;
      &:before {
        color: rgb(119, 119, 119);
        font-size: 16px;
        line-height: 1.5;
        content: "/";
        margin-right: 5px;
      }
    }
    a {
      color: rgb(119, 119, 119);
      line-height: 1.5;
    }
  }
}



.economic {
}


.actions__row {
  display: flex;  
  align-items: center;
  margin-bottom: 36px;
  ul {
    margin-left: -6px;
    margin-right: -6px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -12px;
    margin-right: auto;
    li {
      padding-left: 6px;
      padding-right: 6px;
      margin-bottom: 12px;
      a {
        color: rgb(48, 67, 184);
        font-size: 16px;
        line-height: 1.5;
        border-radius: 10px;
        background: rgb(247, 247, 247);
        height: 40px;
        padding-left: 12px;
        padding-right: 12px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        &:hover {
          text-decoration: none;
        }
        &.active {
          background-color: #3043B8;
          color: #fff;
        }
      }
    }
  }
}

.w247 {
  width: 247px;
  flex: none;
}


select + .select2-container {
  width: 100% !important;
  max-width: 950px;
}

.select2-container { 
  border: none;  
  &.select2-container--open {
    .select2-selection__arrow {
      transform: rotate(180deg);
    }
  }
  .select2-selection--single {    
    border: none;
    width: 100% $i;
    flex: 0 0 auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    padding-left: 14px;    
    height: 50px;
    border-radius: 4px;
    border: 1px solid #E7E7E7;
    .select2-selection__arrow {

    }
    .select2-selection__rendered {      
      color: rgb(18, 18, 18);
      font-size: 16px;
      padding-left: 0;
    }
    .select2-selection__arrow {
      flex: 0 0 auto;
      width: 15px;
      height: 100%;
      background-image: url("../img/sel-arr.svg");
      background-repeat: no-repeat;
      background-position: center center;      
      margin-right: 14px;
      margin-left: 10px;
      b {
        display: none;
      }
    }
  }  
  .select2-dropdown {
    border: none;
    
    overflow: hidden;
  }
  .select2-search--dropdown {
    border: none;
    .select2-search__field {
      border: none;
    }
  }
  .select2-results {
    border: none;
    margin-top: 0px;        
    border-top: none;
    background: #FFF;
    padding: 0px 0;  
    overflow: hidden;
  }
  .select2-results__options {

  }
  .select2-results__option {
    border: none;    
    font-weight: 400;
    padding: 20px 23px;    
    color: #545454;
    font-size: 16px;      
    &:last-child {        
      border-radius: 0 0 5px 5px;
    }  
    &:hover {

    }
  }
}  

//высота выпадающего
.select2-container--default .select2-results > .select2-results__options {
  max-height: unset;
}

//наведенный
.select2-container--default {
  .select2-results__option--highlighted {
    &.select2-results__option--selectable {  
      background: #EDF3FA;
      color: #545454;      
    }  
  }
  //активный
  .select2-results__option {    
    background: #F7F7F7;
  }
  .select2-results__option--selected {
   color: #0071F5;
   font-weight: 500;
   background: #EDF3FA url("../img/sel-check.svg") $nr right 25px center;  
   //наведенный на кативный
   &.select2-results__option--highlighted {
     color: #0071F5;   
     background: #EDF3FA url("../img/sel-check.svg") $nr right 25px center;  
   } 
 }
} 

.economic__row {
  display: flex;  
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 32px;
}

.economic__col {
  padding: 0 15px;
  width: 33.3333%;
  margin-bottom: 24px;
}

.economic__it {
  border-radius: 10px;
  border: 1px solid rgb(231, 231, 231);
  padding: 20px;
  height: 100%;
  ul {
    li {
      &:not(:last-child) {
        margin-bottom: 4px;
      }
      a {
        color: rgb(18, 18, 18);
        font-size: 16px;
        line-height: 1.5;
        display: block;
      }
    }
  }
  p {
    margin-top: 12px;
    color: #777;
    font-size: 16px;    
    line-height: 150%;
    margin-bottom: 0;
    span {
      color: #121212;
    }
  }
}

.economic__img-w {
  display: block;
  margin-bottom: 8px;
  width: 288px;
  height: 154px;
}

.economic__cat {
  display: block;
  color: rgb(119, 119, 119);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 4px;
}

.economic__name {
  display: block;
  color: rgb(18, 18, 18);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 4px;
}

.economic__loc {
  color: rgb(119, 119, 119);
  font-size: 16px;
  line-height: 1.5;
  padding-left: 22px;
  margin-bottom: 16px;
  background-image: url("../img/location.svg");
  background-repeat: no-repeat;
  background-position: left center;
}


ul.spagin {
  display: flex;  
  justify-content: center;  
  align-items: center;
  li {
    margin: 0 3px;
    a {
      width: 36px;
      height: 36px;
      display: flex;      
      justify-content: center;
      align-items: center;  
      border-radius: 4px;  
      color: #121212;
      font-size: 16px;
      font-weight: 400;
      &:hover {
        text-decoration: none;
        color: #000;
      }
      &.active {
        color: #FFF;
        background: #3043B8;
      }
    }
  }
}

.spagin-control {    
  display: block;
  background: url("../img/nav-arrow0.svg") $nr center;
  &:hover {    
  }
}
.spagin-prev {
  margin-right: auto;
}
.spagin-next {
  margin-left: auto;
  transform: rotate(180deg);
}


.tags__ul {
  display: flex;
  margin-top: 28px;
  margin-bottom: 13px;
  flex-wrap: wrap;
  margin-left: -9px;
  margin-right: -9px;
  li {    
    line-height: 1.5;
    margin-bottom: 15px;
    padding-right: 9px;
    padding-left: 9px;
    a {
      color: rgb(119, 119, 119);
      font-size: 18px;
      display: inline-block;
      padding-bottom: 2px;
      &.active {
        color: rgb(48, 67, 184);      
        border-bottom: 1px solid rgb(48, 67, 184);      
      }
      &:hover {
       color: rgb(48, 67, 184);      
       border-bottom: 1px solid rgb(48, 67, 184);       
     }
   }
 }
}


.news__list {
  display: flex;  
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 56px;
}

.row {
  display: flex;
}

.col-l {
  width: calc(100% - 270px);
  padding-right: 30px;
}

.col-r {
  width: 270px;  
  flex: none;
}

.row-reverse {
  .col-l {
    padding-left: 30px;
    padding-right: 0;
  }
}

.rbanner {
  width: 100%;  
  position: relative;
  a {
    display: block;
    padding: 35px 11px;
    position: absolute;
    width: 100%;
    top: 0;
    &:hover {
      text-decoration: none;
    }
  }
  div {
    color: #282828;
    text-align: center;    
    font-size: 30px;    
    font-weight: 700;
    line-height: 103%;
    margin-bottom: 15px;
  }
  p {
    margin-bottom: 0;
    color: #282828;
    text-align: center;    
    font-size: 17px;
    font-weight: 800;
    line-height: 103%;
  }
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}


.form {  
  input[type="text"] {
    width: 100%;
    height: 54px;
    padding: 0 15px;
    border-radius: 4px;
    border: 1px solid rgb(221, 221, 221);
    background: rgb(255, 255, 255);
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
  }
  textarea {
    width: 100%;
    height: 157px;
    padding: 15px;
    border-radius: 4px;
    border: 1px solid rgb(221, 221, 221);
    background: rgb(255, 255, 255);
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    &:focus,
    &:active {
      outline: 2px solid #000;
    }
  }
  label {
    cursor: pointer;
    display: block;
    width: 100%;
    margin-bottom: 28px;
  }
  .robot {
    margin-top: -13px;
    margin-bottom: 28px;
  }
  button {
    + p {
      color: #777;
      font-size: 16px;
      font-weight: 400;
      line-height: 150%;
      margin-top: 10px;
      margin-bottom: 0;
      a {
        color: #3043B8;
        font-weight: 400;
      }
    }
  }
  label {    
    P {
      margin-bottom: 10px;
      color: rgb(18, 18, 18);
      font-size: 16px;
    }
  }
}//form

.form__title {
  color: #121212;
  font-size: 36px;
  font-weight: 700;
}

.form__row {
  display: flex;  
  justify-content: space-between;  
  label {
    width: calc(50% - 15px);
    margin-bottom: 28px;
  }
}


.form__col-100 {
  margin-bottom: 28px;
}


.form__p {
  margin-top: 28px;
  margin-bottom: 15px;
}

.agreement {
  margin-top: 28px;
  .h2 {
    margin-bottom: 16px;
  }
  p {

  }
}

.about {
  margin-top: -8px;
  .h2 {
    margin-bottom: 16px;
  }
}

.about__item {
  + .about__item {
    margin-top: 71px;
  }
  .accordion-container {
    margin-top: 27px;
  }
}



.accordion-item {
  &:not(:last-child) {
    .accordion-header {
      margin-bottom: 18px;
    }    
  }
}

.accordion-header {
  border-radius: 8px;
  background: rgb(247, 247, 247);
  padding: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;  
  font-weight: 700;
  position: relative;
  line-height: 1.5;
  &.active-header {
    &:after {
      transform: rotate(90deg);
    }
  }
  &:after {
    position: absolute;
    right: 18px;
    top: calc(50% - 6px);
    content: "";
    display: block;
    background: url("../img/acc-arrow.svg") $nr center;
    width: 12px;
    height: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


.accordion-content {
  display: flex;
  color: rgb(18, 18, 18);
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 30px;
  padding-left: 18px;  
}

.accordion-header {  
  cursor: pointer;
}

.accordion-content {
  display: none;
  &.open-content {
    display: block;
  }
}

.list-letters {
  margin-top: 48px;
  margin-bottom: 31px;
  > ul {
    margin-bottom: 17px;
  }
  ul {
    display: flex;    
    flex-wrap: wrap;
    margin-left: -8.4px;
    margin-right: -8.4px;
    li {
      padding: 0 8.4px;
      margin-bottom: 5px;
      a {
        color: #121212;        
        font-size: 16px;        
        font-weight: 600;
        line-height: 150%;
      }
    }
  }  
}
.list-letters__w {
  display: flex;  
  flex-wrap: wrap;
  ul {
    &:not(:last-child) {
      margin-right: 43px;
    }    
  }
}

.sitemap__items {  
  + .spagin {
    margin-top: 56px;
  }
}

.sitemap__item {
  + .sitemap__item {
    margin-top: 70px;
  }
}

.sitemap__letter {
  color: #121212;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  margin-bottom: 20px;
}

.sitemap__cities {  
  display: flex;    
  flex-direction: column;
  justify-content: flex-end;  
  margin-left: -15px;
  margin-right: -15px;    
  ul {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -15px;   
    li {
      padding: 0 15px;
      width: 33.33%;
      margin-bottom: 16px;
      a {
        color: #121212;
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
        text-transform: uppercase;
        &:hover {
          text-decoration: none;
        }
        span {
          color: #777;
          text-transform: none;
        }
      }
    }
  }
}

.sitemap__all-a {
  color: #3043B8;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;  
  display: inline-block;
  width: 33.33%;  
  margin-left: auto;
  padding: 0 15px; 
  margin-top: 16px; 
  &:hover {
    text-decoration: none;
  }
}

.scomp__r {
  margin-left: 34px;
  p {    
    color: #232323;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 0;
  }
  img {
    width: 228px;  
    height: auto;
  }
  > span {
    display: block;
    margin-top: 6px;
    line-height: 150%;
  }
  > div {
    font-size: 14px;
    margin-top: 10px;
    color: #777;
    line-height: 150%;
    span {
      color: #000;
    }
  }
}

.scomp__top {
  display: flex;
  align-items: center;
  margin-bottom: 22px;
  &._start {    
    align-items: flex-start;
  }
}


.scomp__row {
  display: flex;  
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 28px;
}

.scomp__col {
  width: 33.33%;
  padding: 0 15px;  
}

.scomp__it {
  border-radius: 8px;
  background: rgb(48, 67, 184);
  width: 100%;  
  display: flex;
  align-items: center;  
  padding: 18px;
  padding-right: 8px;
  img {
    width: 40px;  
  }
  > div {
    margin-left: 8px;
    p {
      color: rgb(255, 255, 255);
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 2px;
    }
    a {
      text-decoration: underline;
    }
    a,
    span {
      display: inline-block;
      color: #FFF;      
      font-size: 16px;      
      font-weight: 600;
      line-height: 150%;
    }
  }
}



.gal {
  position: relative;
  margin-top: 30px;
  margin-bottom: 140px;
}

.gal__slider,
.gal .slick-slide {
  height: 428px;
  width: 100%;
}

.gal__slider {    
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }  
  .slick-prev {
    left: calc(50% - 55px);
  }

  .slick-next {  
    right: calc(50% - 55px);    
  }
}




.slick-slide {
  line-height: 1;
  font-size: 0;
}

.slick-arrow {
  position: absolute;
  z-index: 12;  
  width: 24px;
  height: 24px;
  border: none;
  background: none;
  font-size: 0;
  background: url("../img/scomp-arrow.svg") $nr 0 0;
  bottom: -44px;
  li {
    button {
      padding: 0;        
      border: none;
    }
  }
  &.slick-disabled {
    opacity: 0.5;
  }
}

.slick-prev {
  left: 0;
}

.slick-next {  
  right: 0;
  transform: rotate(180deg);
}


.slick-dots {
  position: absolute;
  bottom: 40px;
  width: 100%;
  display: flex;    
  justify-content: center;
  z-index: 12;
  li {
    font-size: 0;
    background: none;
    padding: 0;
    button {
      padding: 0;
      font-size: 0;
      outline: none;
      border: none;
    }
    &.slick-active {
      button {
        background: #7B6858;
        width: 25px;
      }
    }
  }
}


.gal__actions {
  display: flex;  
  justify-content: center;
  align-items: center;
  color: #777;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  position: absolute;
  bottom: -40px;
  left: 0;
  width: 100%;
}

.scomp__item {
  margin-top: 100px;
}

.prior__ul {
  margin-top: 34px;
  li {
    &:not(:last-child) {
      margin-bottom: 12px;
    }
    a {
      color: #121212;
      &:hover {
        text-decoration: none;
      }
    }
  }
}





.res__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: -15px;
  margin-right: -15px;
  + .btn {
    margin-top: -4px;
  }
}

.res__col {
  width: 33.3333%;  
  padding: 0 15px;
  margin-bottom: 28px;
}

.res__item {
  margin-left: 0px;
  margin-right: 0px;  
  border-radius: 8px;
  border: 1px solid rgb(231, 231, 231);  
  display: flex;
  flex-direction: column;
  align-items: flex-start;  
  padding: 10px 12px; 
  a {
    color: rgb(18, 18, 18);
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 11px;    
    &:hover {
      text-decoration: none;
    }
  }
  p {
    color: rgb(18, 18, 18);
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 0;
  }
  > div {
    display: flex;    
    align-items: center;      
    justify-content: center;  
    width: 100%;
    max-width: 228px;
    height: 154px;
    margin-bottom: 14px;
  }
}





.cont {
  table {
    margin-bottom: 63px;
    display: block;
    tr {
      display: flex;
      align-items: center;      
      + tr {
        margin-top: 14px;
      }
    }
    td {
      line-height: 1.5;
      &:nth-child(1) {
       width: 270px;
       flex: 0 0 auto;
       margin-right: 30px;
       color: rgb(18, 18, 18);
       font-size: 16px;
     }      
     &:nth-child(2) {
      border-radius: 8px;
      background: rgb(247, 247, 247);
      flex: 1 1 auto;
      color: rgb(18, 18, 18);
      font-size: 16px;
      min-height: 44px;
      display: flex;
      align-items: center;
      padding: 10px;
    }  
    a {      
      color: rgb(48, 67, 184);      
    }    
  }
}


}




.cont__wh {

}



.cont__upd {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #DDD;
  padding-bottom: 11px;
  > div {
    display: flex;
  }
  > a {
    color: rgb(119, 119, 119);
    font-size: 14px;
    text-decoration-line: underline;
  }
  p {
    + p {
      margin-left: 17px;
    } 
    color: rgb(119, 119, 119);
    font-size: 14px;
    margin-bottom: 0;
  }
}

.news__teasers {
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 24px;
  .news__col {
   margin-bottom: 0; 
 }
}

.ftags {
  display: flex;  
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
  margin-top: 29px;
  margin-bottom: 24px;
  li {
    padding: 0 12px;
    color: #777;
    font-size: 16px;        
    margin-bottom: 12px;
    a {
      display: flex;    
      align-items: center;
      color: #777;
      font-weight: 600;
      line-height: 150%;
      span {
        display: inline-flex;
        padding: 4px 8px;
        justify-content: center;
        align-items: center;
        border-radius: 27px;
        background: #F7F7F7;
        margin-left: 3px;
      }
      &:hover {
        text-decoration: none;
        color: #3043B8;
        span {
          color: #3043B8;
        }
      }
      &.active {
        color: #3043B8;
        span {
          color: #3043B8;
        }
      }      
    }
  }
}


.lfilter {
  form {
    margin-top: 19px;
    label {
      display: block;
      p {
        color: #121212;
        font-size: 16px;
        font-weight: 600;
        line-height: 150%;
        margin-bottom: 6px;
      }
      + label {
        margin-top: 26px;
      }
    }
  }
  button[type="submit"] {
    color: rgb(48, 67, 184);
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    border: 1px solid rgb(48, 67, 184);
    background: rgb(255, 255, 255);
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 16px;
  }
  button[type="reset"] {
    background: none;    
    color: rgb(119, 119, 119);
    font-size: 16px;
    background-image: url("../img/close.svg");
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 26px;
    margin-top: 12px;
  }
}


.filter__comps {
  margin-bottom: 56px;
}

.filter__comp {
  border-radius: 8px;
  border: 1px solid rgb(231, 231, 231);
  background: rgb(255, 255, 255);
  height: 178px;
  padding: 12px 24px;
  display: flex;
  align-items: center;  
  + .filter__comp {
    margin-top: 28px;
  }
}

.filter__logo {
  width: 228px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
}

.filter__inf {
  width: 50%;
  flex: 1 1 auto;
  > div {    
    align-items: center;
    display: flex;
    > p {
      margin-left: 18px;
      display: flex;
      margin-bottom: 0;
      line-height: 21px;
      font-size: 16px;
      color: #777;
      font-size: 16px;
      line-height: 150%;
      a {
        margin-bottom: 0;
        font-size: 16px;
        display: inline-block;
        margin-left: 3px;
        color: #121212;
      }
    }
  }
  a {
    display: block;
    color: rgb(18, 18, 18);
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 6px;
    &:hover {
      text-decoration: none;
    }
  }
  a.filter__cat {
    text-decoration: none;
    color: #777;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    margin-bottom: 6px;
  }
  p {
    color: rgb(18, 18, 18);
    font-size: 16px;
    margin-bottom: 16px;
  }
  span {
    display: inline-block;
    line-height: 21px;
    background-image: url("../img/geo.svg");
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 24px;
    display: flex;
    color: rgb(119, 119, 119);
    font-size: 16px;
    align-items: center;
  }
}

.sarticle {
  p {
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
}

.sarticle__top {
  display: flex;
  line-height: 1.5;
  font-size: 16px;
  color: rgb(119, 119, 119);
  line-height: 1.5;
  margin-top: 27px;
  margin-bottom: 28px;
  a {
    color: rgb(48, 67, 184);
    margin-left: 20px;
    display: inline-block;
  }
}


.sarticle__img {
  max-width: 100%;
  border-radius: 10px;
}

.sarticle__info {
  margin-top: 12px;
  color: rgb(119, 119, 119);
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 30px;
  a {
    text-decoration-line: underline;  
    font-size: 14px;
    color: #777;
  }
}

.sarticle__items {
  margin-top: 38px;
}
.sarticle__item {
  + .sarticle__item {
    margin-top: 54px;
  }
}



//20

@media (max-width : 575px) {
  h1, .h1 {
    font-size: 26px;
    margin-bottom: 22px;
  }

  h2, .h2 {
    font-size: 22px;
    margin-bottom: 18px;
  }

  h3, .h3 {
    font-size: 20px;
    margin-bottom: 16px;
  }

  h4, .h4 {
    font-size: 16px;
    margin-bottom: 12px;
  }
}//575

@import "_after-styless";

body {  
  &.active {
    background: url("../img/1920.jpg") no-repeat top -0px center;
    .wrapper {
      opacity: 0.4;
    } 
    .footer {
      opacity: 0.4;
    }
    .get {
      opacity: 0.4;
    }
  }    
}