html {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  padding: 0;
  margin: 0;
  line-height: 1; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: normal; }

p {
  margin-top: 0;
  font-weight: normal;
  margin-top: 0; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none; }

form {
  padding: 0;
  margin: 0; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

li {
  padding: 0;
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background-color: transparent; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  font-size: 75%;
  line-height: 0; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible;
  text-transform: none; }

select {
  text-transform: none; }

button, html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer; }

input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input[type="checkbox"], input[type="radio"] {
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

* {
  box-sizing: border-box; }

*:before, *:after {
  box-sizing: border-box; }

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent; }

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

a {
  text-decoration: none; }

figure {
  margin: 0; }

img {
  vertical-align: middle; }

.group:after, .contain:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden; }

.embed-responsive::before {
  display: block;
  content: ""; }

.embed-responsive-21by9::before {
  padding-top: 42.857143%; }

.embed-responsive-16by9::before {
  padding-top: 56.25%; }

.embed-responsive-4by3::before {
  padding-top: 75%; }

.embed-responsive-1by1::before {
  padding-top: 100%; }

.embed-responsive iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0; }

.swiper-button-disabled {
  opacity: 0 !important; }

.swiper-button:focus {
  outline: none; }

.lcpadding {
  padding-left: calc((100% - 1240px)/2); }
  @media only screen and (max-width: 1199px) {
    .lcpadding {
      padding-left: calc((100% - 970px)/2); } }
  @media only screen and (max-width: 991px) {
    .lcpadding {
      padding-left: calc((100% - 750px)/2); } }
  @media only screen and (max-width: 767px) {
    .lcpadding {
      padding-left: calc((100% - 600px)/2); } }
  @media only screen and (max-width: 640px) {
    .lcpadding {
      padding-left: calc((100% - 530px)/2); } }
  @media only screen and (max-width: 570px) {
    .lcpadding {
      padding-left: 15px; } }

.rcpadding {
  padding-right: calc((100% - 1240px)/2); }
  @media only screen and (max-width: 1199px) {
    .rcpadding {
      padding-right: calc((100% - 970px)/2); } }
  @media only screen and (max-width: 991px) {
    .rcpadding {
      padding-right: calc((100% - 750px)/2); } }
  @media only screen and (max-width: 767px) {
    .rcpadding {
      padding-right: calc((100% - 600px)/2); } }
  @media only screen and (max-width: 640px) {
    .rcpadding {
      padding-right: calc((100% - 530px)/2); } }
  @media only screen and (max-width: 570px) {
    .rcpadding {
      padding-right: 15px; } }

.contain {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  width: 100%; }

@media only screen and (max-width: 1367px) {
  .contain {
    max-width: 1170px; } }

@media only screen and (max-width: 1199px) {
  .contain {
    max-width: 970px; } }

@media only screen and (max-width: 991px) {
  .contain {
    max-width: 750px; } }

@media only screen and (max-width: 767px) {
  .contain {
    max-width: 600px; } }

@media only screen and (max-width: 640px) {
  .contain {
    max-width: 530px; } }

@media only screen and (max-width: 575px) {
  .contain {
    width: 100%;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px; } }

@media only screen and (max-width: 320px) {
  body, body > * {
    width: auto;
    min-width: 320px; } }

@media only screen and (min-width: 1080px) {
  .main-mnu {
    display: block !important; }
  .hidden-mnu {
    display: none; } }

a {
  text-decoration: none;
  color: #3043B8; }
  @media (any-hover: hover) {
    a:hover {
      color: #3043B8;
      text-decoration: underline; } }

p {
  margin-bottom: 0; }
  p:not(:last-child) {
    margin-bottom: 16px; }

button {
  border: none;
  outline: none; }

textarea:hover, textarea:active, textarea:focus {
  outline: none; }

body {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #121212;
  position: relative;
  min-height: 100vh;
  line-height: 1; }
  body.ohi {
    overflow: hidden; }

.wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh; }

.main {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

/*modal*/
p {
  line-height: 1.5; }

.modal-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  z-index: 5;
  display: none;
  background: rgba(45, 40, 40, 0.5); }

.modal-form__layout {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 2; }

.modal-form__block {
  position: absolute;
  top: 5%;
  margin-bottom: 20px;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  z-index: 6;
  width: 555px;
  background-color: #FFF;
  min-height: 100px; }

.modal-form__inner {
  position: relative; }

.modal-close {
  cursor: pointer;
  display: block;
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 7;
  width: 24px;
  height: 24px;
  background: url("../img/close-w.svg") no-repeat 0 0; }

/*end modal*/
h1, .h1 {
  color: #121212;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px; }

h2, .h2 {
  color: #121212;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 28px; }

h3, .h3 {
  color: #121212;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px; }

h4, .h4 {
  color: #121212;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 15px; }

.btn,
.btn-o,
*[class$="__btn"] {
  transition: 0.5s; }
  .btn:hover,
  .btn-o:hover,
  *[class$="__btn"]:hover {
    text-decoration: none; }

.header {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 16px 0px;
  padding-top: 24px;
  padding-bottom: 24px; }
  .header ul {
    margin: auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .header ul li + li {
      margin-left: 34px; }
    .header ul li a {
      color: #121212;
      font-size: 16px;
      line-height: 1.5;
      transition: 0.5s; }
      .header ul li a:hover {
        text-decoration: none; }
      @media (any-hover: hover) {
        .header ul li a:hover {
          color: #777; } }
  .header form {
    width: 277px;
    background: #F7F7F7;
    border-radius: 8px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none;
    height: 50px; }
    .header form button {
      background: none;
      border: none;
      background: url("../img/search.svg") center no-repeat;
      height: 100%;
      width: 58px;
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      padding-right: 18px; }
    .header form input[type="text"] {
      background: none;
      -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      border: none;
      height: 50px;
      padding: 0 18px;
      width: 100%; }

.header__row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.logo {
  width: 168px;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex; }

.main {
  padding-bottom: 100px;
  padding-top: 36px; }

.special {
  border-radius: 10px;
  background: #3043b8;
  padding: 58px 48px 37px 48px; }
  .special p {
    color: white;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 19px;
    max-width: 440px; }

.special__title {
  color: white;
  font-size: 52px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 6px; }

.special__items {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.special__item {
  display: block; }
  .special__item + .special__item {
    margin-left: 92px; }
  .special__item div {
    color: white;
    font-size: 60px;
    font-weight: 700;
    line-height: 1.5;
    background-image: url("../img/figure.svg");
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 96px; }
  .special__item p {
    color: white;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.2; }

.map {
  border-radius: 10px;
  height: 540px;
  margin-top: 32px;
  overflow: hidden; }
  .map img {
    object-fit: cover;
    width: 100%;
    height: 100%; }

.news {
  padding-top: 64px; }

.news__row {
  margin-left: -15px;
  margin-right: -15px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-bottom: 25px; }

.news__col {
  padding-left: 15px;
  padding-right: 15px;
  width: 33.3333%;
  margin-bottom: 46px; }
  .news__col:nth-last-child(1), .news__col:nth-last-child(2), .news__col:nth-last-child(3) {
    margin-bottom: 0; }

.news__it p {
  color: #777777;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 0; }

.news__img-w {
  display: block;
  border-radius: 10px;
  height: 192px;
  overflow: hidden;
  width: 100%;
  margin-bottom: 16px; }
  .news__img-w img {
    object-fit: cover;
    width: 100%;
    height: 100%; }

.news__cat {
  margin-bottom: 6px;
  display: block;
  color: #3043b8;
  font-size: 18px;
  line-height: 1.5; }

.news__title {
  margin-bottom: 12px;
  display: block;
  color: #121212;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5; }

.btn {
  padding-left: 30px;
  padding-right: 30px;
  height: 50px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  background: #3043b8;
  color: white;
  font-size: 16px;
  font-weight: 600;
  transition: background 0.5s; }
  @media (any-hover: hover) {
    .btn:hover {
      text-decoration: none;
      background: #384ED8; } }

.footer {
  background: #f7f7f7;
  padding-top: 34px;
  padding-bottom: 36px; }
  .footer ul {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .footer ul li {
      line-height: 1.5; }
      .footer ul li + li {
        margin-left: 30px; }
      .footer ul li a {
        color: #121212;
        font-size: 16px; }
        .footer ul li a:hover {
          text-decoration: none; }

.footer__top {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 26px; }

.footer__logo {
  width: 168px;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex; }

.footer__copy {
  color: #121212;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 6px; }

.footer__polyt {
  color: #121212;
  font-size: 16px;
  line-height: 1.5; }
  .footer__polyt a {
    color: #121212;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline; }

.banner__row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 28px; }
  .banner__row ul li {
    color: white;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    position: relative;
    padding-left: 28px; }
    .banner__row ul li:not(:last-child) {
      margin-bottom: 13px; }
    .banner__row ul li:before {
      position: absolute;
      left: 0;
      top: 12px;
      content: "";
      width: 20px;
      height: 2px;
      background: white;
      -webkit-flex: 0 0 auto;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
      display: block; }

.banner__l {
  width: 495px;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  background: #ecf0ff;
  padding: 34px 24px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .banner__l:hover {
    text-decoration: none; }

.banner__logo {
  margin-bottom: 8px; }

.banner__title {
  color: #2e60ff;
  font-size: 32px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 0; }

.banner__r {
  background: url("../img/banner-bg.svg") left center no-repeat #2e60ff;
  padding: 40px 40px 39px 140px;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.bread {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 28px; }
  .bread li {
    color: #777777;
    font-size: 16px;
    line-height: 1.5; }
    .bread li + li {
      margin-left: 5px; }
      .bread li + li:before {
        color: #777777;
        font-size: 16px;
        line-height: 1.5;
        content: "/";
        margin-right: 5px; }
    .bread li a {
      color: #777777;
      line-height: 1.5; }

.actions__row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 36px; }
  .actions__row ul {
    margin-left: -6px;
    margin-right: -6px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-bottom: -12px;
    margin-right: auto; }
    .actions__row ul li {
      padding-left: 6px;
      padding-right: 6px;
      margin-bottom: 12px; }
      .actions__row ul li a {
        color: #3043b8;
        font-size: 16px;
        line-height: 1.5;
        border-radius: 10px;
        background: #f7f7f7;
        height: 40px;
        padding-left: 12px;
        padding-right: 12px;
        display: -webkit-inline-flex;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; }
        .actions__row ul li a:hover {
          text-decoration: none; }
        .actions__row ul li a.active {
          background-color: #3043B8;
          color: #fff; }

.w247 {
  width: 247px;
  -webkit-flex: none;
      -ms-flex: none;
          flex: none; }

select + .select2-container {
  width: 100% !important;
  max-width: 950px; }

.select2-container {
  border: none; }
  .select2-container.select2-container--open .select2-selection__arrow {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }
  .select2-container .select2-selection--single {
    border: none;
    width: 100% !important;
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    margin-left: auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 14px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid #E7E7E7; }
    .select2-container .select2-selection--single .select2-selection__rendered {
      color: #121212;
      font-size: 16px; }
    .select2-container .select2-selection--single .select2-selection__arrow {
      -webkit-flex: 0 0 auto;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
      width: 15px;
      height: 100%;
      background-image: url("../img/sel-arr.svg");
      background-repeat: no-repeat;
      background-position: center center;
      margin-right: 14px;
      margin-left: 10px; }
      .select2-container .select2-selection--single .select2-selection__arrow b {
        display: none; }
  .select2-container .select2-dropdown {
    border: none;
    overflow: hidden; }
  .select2-container .select2-search--dropdown {
    border: none; }
    .select2-container .select2-search--dropdown .select2-search__field {
      border: none; }
  .select2-container .select2-results {
    border: none;
    margin-top: 0px;
    border-top: none;
    background: #FFF;
    padding: 0px 0;
    overflow: hidden; }
  .select2-container .select2-results__option {
    border: none;
    font-weight: 400;
    padding: 20px 23px;
    color: #545454;
    font-size: 16px; }
    .select2-container .select2-results__option:last-child {
      border-radius: 0 0 5px 5px; }

.select2-container--default .select2-results > .select2-results__options {
  max-height: unset; }

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background: #EDF3FA;
  color: #545454; }

.select2-container--default .select2-results__option {
  background: #F7F7F7; }

.select2-container--default .select2-results__option--selected {
  color: #0071F5;
  font-weight: 500;
  background: #EDF3FA url("../img/sel-check.svg") no-repeat right 25px center; }
  .select2-container--default .select2-results__option--selected.select2-results__option--highlighted {
    color: #0071F5;
    background: #EDF3FA url("../img/sel-check.svg") no-repeat right 25px center; }

.economic__row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 32px; }

.economic__col {
  padding: 0 15px;
  width: 33.3333%;
  margin-bottom: 24px; }

.economic__it {
  border-radius: 10px;
  border: 1px solid #e7e7e7;
  padding: 20px;
  height: 100%; }
  .economic__it ul li:not(:last-child) {
    margin-bottom: 4px; }
  .economic__it ul li a {
    color: #121212;
    font-size: 16px;
    line-height: 1.5;
    display: block; }
  .economic__it p {
    margin-top: 12px;
    color: #777;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 0; }
    .economic__it p span {
      color: #121212; }

.economic__img-w {
  display: block;
  margin-bottom: 8px;
  width: 288px;
  height: 154px; }

.economic__cat {
  display: block;
  color: #777777;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 4px; }

.economic__name {
  display: block;
  color: #121212;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 4px; }

.economic__loc {
  color: #777777;
  font-size: 16px;
  line-height: 1.5;
  padding-left: 22px;
  margin-bottom: 16px;
  background-image: url("../img/location.svg");
  background-repeat: no-repeat;
  background-position: left center; }

ul.spagin {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  ul.spagin li {
    margin: 0 3px; }
    ul.spagin li a {
      width: 36px;
      height: 36px;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      border-radius: 4px;
      color: #121212;
      font-size: 16px;
      font-weight: 400; }
      ul.spagin li a:hover {
        text-decoration: none;
        color: #000; }
      ul.spagin li a.active {
        color: #FFF;
        background: #3043B8; }

.spagin-control {
  display: block;
  background: url("../img/nav-arrow0.svg") no-repeat center; }

.spagin-prev {
  margin-right: auto; }

.spagin-next {
  margin-left: auto;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }

.tags__ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 28px;
  margin-bottom: 13px;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: -9px;
  margin-right: -9px; }
  .tags__ul li {
    line-height: 1.5;
    margin-bottom: 15px;
    padding-right: 9px;
    padding-left: 9px; }
    .tags__ul li a {
      color: #777777;
      font-size: 18px;
      display: inline-block;
      padding-bottom: 2px; }
      .tags__ul li a.active {
        color: #3043b8;
        border-bottom: 1px solid #3043b8; }
      .tags__ul li a:hover {
        color: #3043b8;
        border-bottom: 1px solid #3043b8; }

.news__list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 56px; }

.row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.col-l {
  width: calc(100% - 270px);
  padding-right: 30px; }

.col-r {
  width: 270px;
  -webkit-flex: none;
      -ms-flex: none;
          flex: none; }

.rbanner {
  width: 100%;
  position: relative; }
  .rbanner a {
    display: block;
    padding: 35px 11px;
    position: absolute;
    width: 100%;
    top: 0; }
    .rbanner a:hover {
      text-decoration: none; }
  .rbanner div {
    color: #282828;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 103%;
    margin-bottom: 15px; }
  .rbanner p {
    margin-bottom: 0;
    color: #282828;
    text-align: center;
    font-size: 17px;
    font-weight: 800;
    line-height: 103%; }
  .rbanner img {
    object-fit: cover;
    width: 100%;
    height: 100%; }

.form input[type="text"] {
  width: 100%;
  height: 54px;
  padding: 0 15px;
  border-radius: 4px;
  border: 1px solid #dddddd;
  background: white;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px; }

.form textarea {
  width: 100%;
  height: 157px;
  padding: 15px;
  border-radius: 4px;
  border: 1px solid #dddddd;
  background: white;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px; }
  .form textarea:focus, .form textarea:active {
    outline: 2px solid #000; }

.form label {
  cursor: pointer;
  display: block;
  width: 100%;
  margin-bottom: 28px; }

.form .robot {
  margin-top: -13px;
  margin-bottom: 28px; }

.form button + p {
  color: #777;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  margin-top: 10px;
  margin-bottom: 0; }
  .form button + p a {
    color: #3043B8;
    font-weight: 400; }

.form label P {
  margin-bottom: 10px;
  color: #121212;
  font-size: 16px; }

.form__title {
  color: #121212;
  font-size: 36px;
  font-weight: 700; }

.form__row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .form__row label {
    width: calc(50% - 15px);
    margin-bottom: 28px; }

.form__col-100 {
  margin-bottom: 28px; }

.form__p {
  margin-top: 28px;
  margin-bottom: 15px; }

.agreement {
  margin-top: 28px; }
  .agreement .h2 {
    margin-bottom: 16px; }

.about {
  margin-top: -8px; }
  .about .h2 {
    margin-bottom: 16px; }

.about__item + .about__item {
  margin-top: 71px; }

.about__item .accordion-container {
  margin-top: 27px; }

.accordion-item:not(:last-child) .accordion-header {
  margin-bottom: 18px; }

.accordion-header {
  border-radius: 8px;
  background: #f7f7f7;
  padding: 18px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 700;
  position: relative;
  line-height: 1.5; }
  .accordion-header.active-header:after {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg); }
  .accordion-header:after {
    position: absolute;
    right: 18px;
    top: calc(50% - 6px);
    content: "";
    display: block;
    background: url("../img/acc-arrow.svg") no-repeat center;
    width: 12px;
    height: 12px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }

.accordion-content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #121212;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 30px;
  padding-left: 18px; }

.accordion-header {
  cursor: pointer; }

.accordion-content {
  display: none; }
  .accordion-content.open-content {
    display: block; }

.list-letters {
  margin-top: 48px;
  margin-bottom: 31px; }
  .list-letters > ul {
    margin-bottom: 17px; }
  .list-letters ul {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-left: -8.4px;
    margin-right: -8.4px; }
    .list-letters ul li {
      padding: 0 8.4px;
      margin-bottom: 5px; }
      .list-letters ul li a {
        color: #121212;
        font-size: 16px;
        font-weight: 600;
        line-height: 150%; }

.list-letters__w {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .list-letters__w ul:not(:last-child) {
    margin-right: 43px; }

.sitemap__items + .spagin {
  margin-top: 56px; }

.sitemap__item + .sitemap__item {
  margin-top: 70px; }

.sitemap__letter {
  color: #121212;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  margin-bottom: 20px; }

.sitemap__cities {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: -15px;
  margin-right: -15px; }
  .sitemap__cities ul {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-bottom: -15px; }
    .sitemap__cities ul li {
      padding: 0 15px;
      width: 33.33%;
      margin-bottom: 16px; }
      .sitemap__cities ul li a {
        color: #121212;
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
        text-transform: uppercase; }
        .sitemap__cities ul li a:hover {
          text-decoration: none; }
        .sitemap__cities ul li a span {
          color: #777;
          text-transform: none; }

.sitemap__all-a {
  color: #3043B8;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  display: inline-block;
  width: 33.33%;
  margin-left: auto;
  padding: 0 15px;
  margin-top: 16px; }
  .sitemap__all-a:hover {
    text-decoration: none; }

@media (max-width: 575px) {
  h1, .h1 {
    font-size: 26px;
    margin-bottom: 22px; }
  h2, .h2 {
    font-size: 22px;
    margin-bottom: 18px; }
  h3, .h3 {
    font-size: 20px;
    margin-bottom: 16px; }
  h4, .h4 {
    font-size: 16px;
    margin-bottom: 12px; } }

.completed-slde-dots {
  position: absolute;
  left: 28px;
  bottom: 20px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .completed-slde-dots li {
    font-size: 0;
    padding: 0;
    margin: 0;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    width: 10px;
    height: 10px;
    border: 2px solid white;
    background: none;
    margin-left: 6px;
    margin-right: 6px;
    cursor: pointer; }
    .completed-slde-dots li:focus {
      outline: none; }
    .completed-slde-dots li:active {
      outline: none;
      background: none; }
  .completed-slde-dots .slick-active {
    border: 2px solid white;
    background-color: #ffffff; }

.nobrd {
  border: none; }

.eye-3 {
  position: fixed;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background-color: #ccc;
  z-index: 100;
  border-radius: 50%; }

@media (max-width: 640px) {
  .help-call .measurer-form .btn {
    margin-top: 0; } }

@media only screen and (max-width: 320px) {
  body, body > * {
    width: auto;
    min-width: 320px; } }

body.active {
  background: url("../img/1920.jpg") no-repeat top -8px center; }
  body.active .wrapper {
    opacity: 0.4; }
  body.active .footer {
    opacity: 0.4; }
  body.active .get {
    opacity: 0.4; }
